
body{
  margin: 0;
}

.header {
  z-index: 50;
  top: 0;
  position: fixed;
  width: 100%;
  background: linear-gradient( to left, #fff 68%, #000 32%);
}

.logo {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 52px;
  padding-top: 39px;
  font: 500 30px/37px 'montserratmedium', arial, helvetica, sans-serif;
  letter-spacing: 0.07em;
  color: #fff;
}

.language {
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin-left: 16%;
  padding: 24px 0 0 9px;
  font: 500 20px/24px 'montserratmedium', arial, helvetica, sans-serif;
  color: #fff;
}

.header__arrow {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  top: 0;
  margin: 55px 0 0 19%;
  padding-left: -3px;
  width: 11px;
  height: 7px;
}

.header__arrow_left,
.header__arrow_right {
  position: relative;
  left: 0;
  width: 7px;
  height: 2px;
  display: inline-block;
  transform: rotate(43deg);
  float: right;
  background-color: #fff;
}

.header__arrow_right {
  position: absolute;
  left: 9px;
  transform: rotate(-43deg);
}

.hamburger__menu {
  display: block;
  height: 16px;
  z-index: 4;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 39px;
  right: 28px;
  width: 35px;
  height: 4px;
  cursor: pointer;
  z-index: 4;
}

.menu__btn > span,
.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
}

.menu__btn > span::before {
  content: '';
  top: 9px;
}

.menu{
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 50%;
  width: 250px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #E5E5E5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 3;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font: 500 20px/24px 'montserratmedium', arial, helvetica, sans-serif;
  text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu {
  visibility: visible;
  right: 0;
}

.menu__color {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 92px;
  background-color: #E5E5E5;
}

.first__page {
  position: relative;
  top: 0;
  background: linear-gradient( to left, transparent 68%, #000 32%);
  z-index: -1;
}

.collection {
  margin-left: 186px;
  padding: 170px 0 11% 41%;
  background: 0 70% no-repeat url(img/главная.svg);
}

.collection__title {
  margin: 0 19% 14px 0;
  padding: 105px 0 0 12px;
  font: bold 80px/82px 'montserratbold', arial, helvetica, sans-serif;
}

.collection__subtitle {
  margin-bottom: 47px;
  padding-left: 12px;
  width: 467px;
  font: normal 15px/21px 'montserratregular', arial, helvetica, sans-serif;
}

.collection__button {
  margin: 0 50px 0 10px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  border: solid 2px #000;
  padding: 14px 39px;
  font: 500 13px/0 'montserratmedium', arial, helvetica, sans-serif;
}

.collection__recomend {
  text-decoration: none;
  cursor: pointer;
  margin-right: 16px;
  font: 500 13px/0 'montserratmedium', arial, helvetica, sans-serif;
  color: #000;
  padding-bottom: 16px;
}

.collection__arrow {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 2px;
  top: -3px;
  left:0;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.collection__arrow::after,
.collection__arrow::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  top: -3px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}

.collection__arrow::before {
  top: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.collection__arrow {
  animation: collection__arrow 1.2s linear 1s infinite;
}

@keyframes collection__arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

.scrol__collection_mobile {
  display: none;
}

.elements {
  position: relative;
  height: 58px;
  padding-bottom: 39px;
}

.contacts__elements {
  display: inline-block;
  position: relative;
  margin-bottom: 2px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
}

.contacts__elements_inst {
  position: relative;
  margin-left: 52px;
  margin-right: 8px;
}

.inst__element {
  position: absolute;
  width: 43px;
  height: 43px;
  background: center no-repeat url(img/inst.svg); 
}

.contacts__elements_vk {
  margin-right: 8px;
}

.vk__element {
  position: absolute;
  width: 43px;
  height: 43px;
  background: center no-repeat url(img/vk.svg); 
}

.fb__element {
  position: absolute;
  width: 43px;
  height: 43px;
  background: center no-repeat url(img/fb.svg);
}

.helper__elements {
  display: inline-block;
  margin-left: 34%; 
  padding-top: 12px;
}

.big__ellipse {
  display: inline-block;
  margin-left: 8px;
  width: 24px;
  height: 42px;
  border: solid 2px #000;
  border-radius: 15px;
}

.small__ellipse {
  display: inline-block;
  position: absolute;
  margin-left: -15px;
  top: 23px;
  height: 8px;
  color: #000;
  border-left: solid 2px #000;
  z-index: 2;
}

.second__page {
  background-color: #fae8e4;
  z-index: -1;
}

.clutch {
  position: relative;
  height: 100%;
  padding-top: 11%;
  background: 13% 68% no-repeat url(img/клатч2.svg);
  z-index: 5;
}

.clutch__pink {
  position: absolute;
  width: 585px;
  height: 98%;
  padding-left: 16%;
  background: right bottom no-repeat url(img/клатч1.svg);
  z-index: 8;
}

.clutch__color {
  position: relative;
  margin-top: 11px;
  margin-left: 61%;
  margin-bottom: 49px;
  width: 488px;
  height: 556px;
  background: #fff;
}

.clutch__title {
  margin: 0 0 12px 0;
  padding: 47px 0 0 55px;
  font: bold 40px/41px 'montserratbold', arial, helvetica, sans-serif;
}
 
.clutch__collection {
  margin: 0 0 64px 0;
  padding: 0 0 0 55px;
  font: bold 16px/16px 'montserratbold', arial, helvetica, sans-serif;
  opacity: .5;
  letter-spacing: .07em;
}

.clutch__subtitle {
  padding-left: 55px;
  margin-bottom: 48px;
  width: 375px;
  font: normal 15px/21px 'montserratregular', arial, helvetica, sans-serif;
  opacity: .5;
}

.clutch__button {
  width: 260px;
}

.color__white {
  position: relative;
  display: inline-block;
  background: #dedede;
  margin: 0 8px 4px 55px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color__pink {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #f29f9f;
  border-radius: 50%;
  margin-right: 8px;
}

.color__blue {
  position: relative;
  display: inline-block;
  background: #a8bff9;
  margin-right: 8px;
  margin-bottom: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color__green {
  position: relative;
  display: inline-block;
  background: #90bd8f;
  margin-bottom: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.clutch__price {
  margin-top: 0;
  position: relative;
  display: inline-block;
  font: bold 40px/56px 'montserratbold', arial, helvetica, sans-serif;
  padding-left: 288px;
  top: -53px;
}

.clutch__number {
  width: 62px;
  height: 10px;
  margin-left: 55px;
  margin-top: -40px;
  padding: 16px 16px 16px 18px;
  border: solid 2px #000;
  font: 500 15px/10px 'montserratmedium', arial, helvetica, sans-serif;
}

.clutch__minus,
.clutch__lot,
.clutch__plus {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 7px;
}

.clutch__minus {
  cursor: pointer;
  margin-left: -1px;
  margin-right: 16px;
}

.clutch__lot {
  margin-top: 1px;
  margin-right: 15px;
}

.clutch__plus {
  cursor: pointer;
}

.clutch__shopping-cart {
  position: absolute;
  cursor: pointer;
  margin-top: -46px;
  margin-left: 170px;
  padding: 23px 46px 9px 40px;
  border: solid 2px #000;
  height: 10px;
  font:500 13px/0 'montserratmedium', arial, helvetica, sans-serif;
}

.navigation__products {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: -118px;
  margin-left: 6px;
  width: 220px;
  padding-left: 61%;
  font: 500 13px/16px 'montserratmedium', arial, helvetica, sans-serif;
}

.navigation__arrow {
  display: inline-block;
  margin-top: -20px;
  margin-left: 65%;
  cursor: pointer;
  position: relative;
  margin: 0;
  width: 241px;
  height: 2px;
  top: -3px;
  left:0;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  margin-bottom: 118px;
}

.navigation__arrow::after,
.navigation__arrow::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  top: -3px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}

.navigation__arrow::before {
  top: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.navigation__arrow:hover {
  animation: navigation__arrow 1.2s linear 1s 1;
}

@keyframes navigation__arrow {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}

.third__page {
  background: linear-gradient( to right, #ebe3d8 27%, #000 27%, #000 32%, #ebe3d8 32%);
  z-index: -1;
}

.look {
  position: relative;
  height: 548px;
  padding-top: 15%;
  margin-left: 3px;
  background: 14% 50% no-repeat url(img/коллекция.svg);
  z-index: 4;
}

.look__color {
  position: relative;
  margin-top: 39px;
  margin-left: calc(56% + 9px);
  margin-bottom: 40px;
  width: 475px;
  height: 351px;
  background: #fae8e4;
  z-index: 8;
}

.look__title {
  padding-top: 41px;
  padding-left: 47px;
  margin-bottom: 12px;
  font: bold 40px/41px 'montserratbold', arial, helvetica, sans-serif;
}

.look__collection {
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 47px;
  font: bold 16px/16px 'montserratbold', arial, helvetica, sans-serif;
  opacity: .5;
  letter-spacing: .07em;
}

.look__subtitle {
  padding-left: 50px;
  font: normal 15px/21px 'montserratregular', arial, helvetica, sans-serif;
  margin-bottom: 55px;
}

.look__number {
  position: relative;
  width: 63px;
  margin-left: 47px;
  margin-right: 15px;
  padding: 12px 15px 14px 18px;
  border: solid 2px #000;
  font: 500 15px/15px 'montserratmedium', arial, helvetica, sans-serif;
}

.look__minus,
.look__lot,
.look__plus {
  margin: 0;
  display: inline-block;
}

.look__minus {
  margin-right: 17px;
  cursor: pointer;
}

.look__lot {
  margin-right: 17px;
}

.look__plus{
  cursor: pointer;
}

.look__shopping-cart {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  margin-top: -45px;
  margin-left: 162px;
  padding: 15px 48px 11px 40px;
  border: solid 2px #000;
  height: 15px;
  font: 500 13px/13px 'montserratmedium', arial, helvetica, sans-serif;
}

.navigation__look {
  margin-top: -131px;
}

.look__products {
  position: relative;
  cursor: pointer;
  font: 500 13px/16px 'montserratmedium', arial, helvetica, sans-serif;
  padding-left: calc(66% - 2px);
  width: 220px;
  margin-bottom: 0;
  margin-right: 10px;
}

.look__arrow {
  display: inline-block;
  margin-top: -8px;
  margin-left: calc(82% + 3px);
  cursor: pointer;
  position: relative;
  width: 108px;
  height: 2px;
  top: -3px;
  left:0;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  margin-bottom: 240px;
}

.look__arrow::after,
.look__arrow::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 2px;
  top: -3px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}

.look__arrow::before {
  top: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.look__arrow:hover {
  animation: look__arrow 1.2s linear 1s 1;
}

@keyframes look__arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

@media(min-width: 1650px) {
  .collection {
    padding-top: 13%;
    padding-bottom: 13%;
    background-size: 38%;
  }

  .collection__title {
    font: bold 84px/86px 'montserratbold', arial, helvetica, sans-serif;
    margin-bottom: 20px;
  }

  .collection__subtitle {
    width: 550px;
    font: normal 18px/22px 'montserratregular', arial, helvetica, sans-serif;
    margin-bottom: 52px;
  }

  .contacts__elements_inst {
    margin-left: 75px;
    margin-right: 16px;
  }

  .contacts__elements_vk {
    margin-right: 16px;
  }

  .helper__elements {
    margin-left: 38%;
  }

  .clutch {
    padding-top: 9%;
  }

  .clutch__color {
    width: 520px;
    height: 600px;
  }

  .clutch__title {
    font: bold 45px/48px 'montserratbold', arial, helvetica, sans-serif;
  }

  .clutch__collection {
    margin-bottom: 50px;
  }

  .clutch__subtitle {
    font: normal 18px/22px 'montserratregular', arial, helvetica, sans-serif;
  }

  .navigation {
    padding-bottom: 4%;
  }

  .navigation__products {
    width: 270px;
    font: 500 15px/0 'montserratmedium', arial, helvetica, sans-serif;
  }

  .navigation__arrow {
    width: 220px;
  }

  .look {
    padding-top: 19%;
    background-position: 14% 70%;
  }

  .look__color {
    margin-top: 20px;
    width: 500px;
    height: 360px;
  }

  .look__title {
    font: bold 45px/48px 'montserratbold', arial, helvetica, sans-serif;
  }

  .look__subtitle{
    font: normal 18px/22px 'montserratregular', arial, helvetica, sans-serif;
  }

  .look__products {
    width: 270px;
    padding-left: 62%;
    font: 500 15px/0 'montserratmedium', arial, helvetica, sans-serif;
  }

  .look__arrow {
    margin-left: 77%;
    margin-top: 0;
  }
}

@media(max-width: 1366px) {
  .language {
    margin-left: 10%;
  }

  .header__arrow {
    margin-left: 15%;
  }

  .collection {
    background-size: 43%;
    margin-left: 10%;
    padding-top: 22%;
    padding-bottom: 13%;
  }

  .collection__title {
    padding-top: 90px;
  }

  .clutch {
    padding-top: 14%;
    background-size: 23%;
    background-position: 10% 60%;
  }

  .clutch__pink {
    width: 400px;
    background-size: 65%;
    background-position: 90% -14%;
  }

  .clutch__color {
    margin-left: 54%;
    width: 425px;
  }

  .clutch__title {
    font: bold 35px/37px 'montserratbold', arial, helvetica, sans-serif;
    padding-left: 30px;
    margin-bottom: 5px;
  }

  .clutch__collection {
    font: bold 14px/14px 'montserratbold', arial, helvetica, sans-serif;
    padding-left: 32px;
    margin-bottom: 55px;
  }

  .clutch__subtitle {
    padding-left: 30px;
  }

  .color__white {
    margin-left: 30px;
  }

  .clutch__price {
    padding-left: 250px;
  }

  .clutch__number {
    margin-left: 30px;
  }

  .clutch__shopping-cart {
    margin-left: 150px;
  }

  .navigation {
    padding-bottom: 6%;
  }

  .navigation__products {
    padding-left: 54%;
  }

  .navigation__arrow {
    width: 160px;
  }

  .look {
    padding-top: 23%;
    background-size: 53%;
    background-position: 14% 60%;
  }

  .look__color {
    width: 420px;
  }

  .look__title {
    font: bold 35px/37px 'montserratbold', arial, helvetica, sans-serif;
    padding-left: 20px;
    margin-bottom: 3px;
  }

  .look__collection {
    font: bold 14px/14px 'montserratbold', arial, helvetica, sans-serif;
    padding-left: 20px;
  }

  .look__subtitle {
    padding-left: 20px;
  }
  .look__number {
    margin-left: 26px;
    margin-right: 10px;
  }

  .look__shopping-cart {
    margin-left: 140px;
  }

  .look__products {
    padding-left: 58%;
  }

  .look__arrow {
    margin-left: calc(81% + 2px);
  }

}


@media(max-width: 1024px) {
  .language {
    margin-left: 3%;
  }

  .header__arrow {
    margin-left: 8%;
  }

  .collection {
    padding-top: 18%;
    padding-bottom: 9%;
  }

  .collection__title {
    font: bold 50px/51px 'montserratbold', arial, helvetica, sans-serif;
  }

  .collection__subtitle {
    width: 360px;
    font: normal 15px/18px 'montserratregular', arial, helvetica, sans-serif;
  }

  .collection__button {
    display: none;
  }

  .collection__recomend {
    margin-right: 12px;
    padding-left: 12px;
  }

  .collection__arrow {
    width: 40px;
  }

  .helper__elements {
    margin-left: 28%;
  }

  .clutch {
    padding-top: 10%;
    background-size: 23%;
    background-position: 5% 50%;
  }

  .clutch__pink {
    background-size: 57%;
    background-position: 56% 15%;
    padding-left: 10%;
  }

  .clutch__color {
    margin-left: 48%;
    width: 400px;
    height: 490px;
  }

  .clutch__title {
    padding-left: 23px;
  }

  .clutch__collection {
    padding-left: 25px;
    margin-bottom: 40px;
  }

  .clutch__subtitle {
    padding-left: 23px;
    margin-bottom: 30px;
  }

  .color__white {
    margin-left: 23px;
  }

  .clutch__number {
    display: none;
  }

  .clutch__shopping-cart {
    margin-left: 70px;
  }

  .navigation {
    padding-bottom: 0; 
  }

  .navigation__products {
    top: -45px;
    padding-left: 48%;
    padding-bottom: 90px;
  }

  .navigation__arrow {
    display: none;
  }

  .look {
    padding-top: 22%;
    background-position: 11% 50%;
  }

  .look__color {
    width: 370px;
    height: 290px;
    margin-left: 50%;
  }

  .look__title {
    padding-left: 23px;
  }

  .look__collection {
    padding-left: 25px;
  }

  .look__subtitle {
    padding-left: 23px;
  }

  .look__number {
    display: none;
  }

  .look__shopping-cart {
    margin-top: -30px;
    margin-left: 70px;
  }

  .navigation__look {
    margin-top: -210px;
    padding-bottom: 193px;
  }

  .look__products {
    padding-left: 60%;
  }

  .look__arrow {
    display: none;
  }
}

@media(max-width: 780px) {
  .header {
    background: none;
    background-color: #fff;
  }

  .logo {
    color: #000;
  }

  .language {
    margin-left: 13%;
    color: #000;
  }

  .header__arrow {
    margin-left: 20%;
  }

  .header__arrow_left,
  .header__arrow_right {
    background-color: #000;
  }

  .first__page {
    background: none; 
  }

  .collection {
    background-size: 43%;
    margin-left: 5%;
    padding-left: 41%;
    padding-top: 15%;
  }

  .collection__title {
    padding-left: 20px;
    }

  .collection__subtitle {
    width: 280px;
    padding-left: 20px;
    font: normal 15px/18px 'montserratregular', arial, helvetica, sans-serif;
  }

  .collection__button {
    display: none;
  }

  .collection__recomend {
    padding-left: 25px;
  }

  .contacts__elements {
    background-color: #E5E5E5;
  }

  .helper__elements {
    display: none;
  }

  .clutch {
    padding-top: 17%;
    background: none;
  }

  .clutch__pink {
    width: 300px;
    padding-left: 5%;
    background-size: 68%;
    background-position: 24% 15%;
  }

  .clutch__color {
    margin-left: 42%;
    width: 335px;
    height: 380px;
  }

  .clutch__title {
    padding-left: 20px;
    padding-top: 30px;
    font: 30px/31px 'montserratbold', arial, helvetica, sans-serif;
  }

  .clutch__collection {
    padding-left: 22px;
    font: bold 11px/11px 'montserratbold', arial, helvetica, sans-serif;
    margin-bottom: 30px;
  }

  .clutch__subtitle {
    padding-left: 20px;
    width: 310px;
    font: normal 13px/15px 'montserratregular', arial, helvetica, sans-serif;
  }

  .clutch__button {
    width: 180px;
  }

  .color__white,
  .color__blue,
  .color__green {
    width: 28px;
    height: 28px;
  }

  .color__white {
    margin-left: 20px;
    margin-bottom: 2px;
  }

  .color__pink {
    width: 32px;
    height: 32px;
  }

  .color__blue {
    margin-bottom: 2px;
  }

  .color__green {
    margin-bottom: 2px;
  }

  .clutch__price {
    padding-left: 210px;
    top: -35px;
    font: 33px/35px 'montserratbold', arial, helvetica, sans-serif;
  }

  .clutch__shopping-cart {
    margin-top: -45px;
    margin-left: 50px;
    font: 500 12px/0 'montserratmedium', arial, helvetica, sans-serif;
  }

  .navigation__products {
    top: -49px;
    padding-left: 43%;
    padding-bottom: 110px;
    font: 500 12px/13px 'montserratmedium', arial, helvetica, sans-serif;
  }

  .third__page {
    background: linear-gradient( to right, #ebe3d8 27%, #000 27%, #000 35%, #ebe3d8 35%)
  }

  .look {
    padding-top: 20%;
    background-size: 58%;
    background-position: 10% 42%;
  }

  .look__color {
    margin-top: 87px;
    margin-left: 45%;
    width: 318px;
    height: 240px;
  }

  .look__title {
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 5px;
    font: 30px/31px 'montserratbold', arial, helvetica, sans-serif;
  }

  .look__collection {
    margin-bottom: 30px;
    padding-left: 22px;
    font: bold 11px/11px 'montserratbold', arial, helvetica, sans-serif;
  }

  .look__subtitle {
    padding-left: 20px;
    width: 300px;
    font: normal 13px/15px 'montserratregular', arial, helvetica, sans-serif;
  }

  .look__shopping-cart {
    margin-left: 45px;
    padding: 20px 48px 7px 40px;
    font: 500 12px/0 'montserratmedium', arial, helvetica, sans-serif;
  }

  .look__products {
    margin-top: 1px;
    font: 500 12px/15px 'montserratmedium', arial, helvetica, sans-serif;
  }
}

@media(max-width: 580px) {
  .header {
    height: 90px;
  }

  .logo {
    letter-spacing: .07em;
    padding-top: 30px;
    font: 500 34px/41px 'montserratmedium', arial, helvetica, sans-serif;
  }

  .language {
    display: none;
  }

  .header__arrow,
  .header__arrow_left,
  .header__arrow_right {
    display: none;
  }

  .menu {
    padding-top: 150px;
    width: 100%;
    height: 1150%;
  }

  .menu__item {
    padding: 30px 50px;
    font: 500 25px/28px 'montserratmedium', arial, helvetica, sans-serif;
  }

  .collection {
    margin: 0;
    padding: 0;
    background: center center no-repeat url(img/главная_mobil.svg);
    background-size: 100%;
  }

  .collection__title {
    width: 300px;
    margin: 0;
    padding: 125% 0 15px 26px;
    font: bold 54px/57px 'montserratbold', arial, helvetica, sans-serif;
  }

  .collection__subtitle {
    display: none;
  }

  .collection__recomend {
    display: none;
  }

  .collection__arrow {
    display: none;
  }

  .elements {
    display: none;
  }

  .collection__mobile {
    cursor: pointer;
    margin-left: 43%;
    padding-bottom: 41px;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 15px;
    color: #000;
    z-index: 3;
  }

  .collection__mobile::after,
  .collection__mobile::before {
    content: '';
    position: relative;
    background-color: #020202;
    width: 28px;
    height: 4px;
    transform: rotate(43deg);
    float: right;
  }

  .collection__mobile::before {
    top: 0px;
    position: absolute;
    left: 21px;
    transform: rotate(137deg);
  }

  .collection__mobile {
    animation: collection__mobile 1.2s linear 1s infinite;
  }

  @keyframes collection__mobile {
    0% {
      top: 0;
    }
    50%{
      top: 10px;
    }
    100%{
      top: 0;
    }
  }
}

@media (max-width: 414px) {
  .header {
    height: 69px;
  }

  .logo {
    margin: 0;
    padding: 14px 0 0 26px;
    color: #000;
    font: 500 30px/37px 'montserratmedium', arial, helvetica, sans-serif;
  }

  .hamburger__menu {
    width: 0;
    height: 0;
  }

  .menu__btn {
    top: 28px;
    right: 22px;
    width: 26px;
    height: 3px;
  }

  .menu__btn > span,
  .menu__btn > span::before {
    height: 3px;
  }

  .menu__btn > span::before {
    top: 7px;
  }

  .menu {
    padding-top: 150px;
    width: 100%;
    height: 900%;
  }

  .menu__item {
    padding: 30px 24px;
  }

  .menu__color {
    width: 70px;
    height: 69px;
  }

  .first__page {
    height: 33%;
  }

  .collection {
    margin-top: 13px;
    background-size: 100%;
  }

  .collection__title {
    width: 340px;
    padding: 113% 0 15px 26px;
    font: bold 50px/51px 'montserratbold', arial, helvetica, sans-serif;
  }

  .collection__mobile {
    cursor: pointer;
    margin-left: 43%;
    padding-bottom: 23px;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 15px;
    color: #000;
    z-index: 3;
  }

  .collection__mobile::after,
  .collection__mobile::before {
    content: '';
    position: relative;
    background-color: #020202;
    width: 21px;
    height: 3px;
    transform: rotate(43deg);
    float: right;
  }

  .collection__mobile::before {
    top: 0px;
    position: absolute;
    left: 23px;
    transform: rotate(137deg);
  }

  .collection__mobile {
    animation: collection__mobile 1.2s linear 1s infinite;
  }

  @keyframes collection__mobile {
    0% {
      top: 0;
    }
    50%{
      top: 10px;
    }
    100%{
      top: 0;
    }
  }

  .second__page {
    width: 100%;
    padding-bottom: 52px;
  }

  .clutch {
    padding-top: 0;
    background: none;
  }

  .clutch__pink {
    width: 100%;
    height: 220px;
    background-size: 60%;
    background-position: 50% 82%;
    padding-left: 0;
    position: relative;
    padding-bottom: 42px;
  }

  .clutch__color {
    position: relative;
    width: 320px;
    height: 281px;
    margin: auto;
  }

  .clutch__title {
    margin: 0 0 3px 0;
    padding: 20px 0 0 29px;
    font: bold 20px/20px 'montserratbold',  arial, helvetica, sans-serif;
  }

  .clutch__collection {
    margin: 0 0 14px 0;
    padding: 0 0 0 31px;
    font: bold 10px/10px 'montserratbold',  arial, helvetica, sans-serif;
  }

  .clutch__subtitle {
    width: 255px;
    margin: 0 0 14px 0;
    padding: 0 0 0 31px;
    font: normal 9px/13px 'montserratregular',  arial, helvetica, sans-serif;
  }

  .clutch__button {
    width: 170px;
  }

  .color__white,
  .color__blue,
  .color__green {
    width: 23px;
    height: 23px;
  }

  .color__white {
    margin-left: 34px;
    margin-right: 5px;
  }

  .color__pink {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }

  .color__blue {
    margin-right: 5px;
  }

  .clutch__price {
    font: bold 20px/28px 'montserratbold',  arial, helvetica, sans-serif;
    padding-left: 69%;
    top: -31px;
  }

  .clutch__number {
    display: none;
  }

  .clutch__shopping-cart {
    position: relative;
    width: 170px;
    margin: auto;
    margin-top: -18px;
    padding: 18px 38px 6px 48px;
  }

  .navigation {
    display: none;
  }

  .third__page {
    background: linear-gradient( to right, #ebe3d8 27%, #000 27%, #000 38%, #ebe3d8 38%)
  }

  .look {
    height: 100%;
    background-size: 93%;
    background-position: 50% 17%;
    padding-top: 69%;
  }

  .look__color {
    width: 305px;
    height: 195px;
    margin: auto;
    margin-left: 11%;
  }

  .look__title {
    font: bold 20px/20px 'montserratbold',  arial, helvetica, sans-serif;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 6px;
  }

  .look__collection {
    font: bold 10px/10px 'montserratbold',  arial, helvetica, sans-serif;
    padding-left: 25px;
    margin-bottom: 10px;
  }

  .look__subtitle {
    font: normal 9px/13px 'montserratregular',  arial, helvetica, sans-serif;
    padding-left: 25px;
  }

  .look__number {
    display: none;
  }

  .look__shopping-cart {
    width: 180px;
    margin-left: 24px;
    margin-top: -35px;
    border: solid 1px #000;
    padding: 12px 31px 8px 47px;
  }

  .navigation__look {
    margin-top: 39px;
  }

  .look__products {
    padding-left: 50%;
    width: 150px;
    font: 500 15px/18px 'montserratmedium',  arial, helvetica, sans-serif;
  }

  .look__arrow {
    width: 134px;
    margin-top: 11px;
    margin-left: calc(50% + 1px);
    margin-bottom: 36px;
  }
}



@media(max-width: 320px) {
  .collection__title {
    width: 250px;
    margin-top: 20px;
    padding-top: 133%;
    font: bold 40px/41px 'montserratbold', arial, helvetica, sans-serif;
  }

  .collection {
    background-size: 108%;
    padding-bottom: 10%;
  }

  .look__color {
    margin-left: auto;
  }
}
